# Bỏ qua các file video để không đưa file nặng lên Git
*.mp4
*.avi
*.mov
*.mkv
# Cache và môi trường ảo của Python
__pycache__/
*.pyc
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Hệ điều hành
.DS_Store
Thumbs.db
